body{
    height: 1000px;
    background-color: peru
}

.jumbotron{
    background-color: saddlebrown;
}

form{
    margin: 5px;
}

th{
    text-align: center;
    background-color: blueviolet
}

tr{
    text-align: center;
}

.second-head{
    background-color: #76448A;
}